<mat-grid-list cols="2">
  <mat-grid-tile>
    <form [formGroup]="createRoomForm">
      <mat-form-field appearance="fill">
        <mat-label>Room Name</mat-label>
        <input matInput type="text" formControlName="label" style="color: black">
      </mat-form-field>
      <button mat-raised-button (click)="createRoom()" type="submit" color="primary"
        [disabled]="!createRoomForm.valid">Create Room</button>
    </form>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
		<mat-card-header>
			<mat-card-title>Click to join a room</mat-card-title>
		</mat-card-header>
      <mat-card-content>
			<table style="width: 100%;">
				<tr *ngFor="let room of roomList">
					<td>
						<button mat-raised-button style="width: 100%;" (click)="openRoom(room._id)">{{room.label}}</button>
					</td>
				</tr>
			</table>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
